{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Filter</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
</head>
<body>
    
    <div id="startPage">
        <h1 class="SelectPlataform">Select the plataform</h1>
        <img class="pato" src="{% static 'XOsX.gif' %}" alt="Meu GIF">
        <img class="pato2" src="{% static 'XOsX.gif' %}" alt="Meu GIF">
        <div class="plataforms">

            <a href="{% url 'facebook' %}">
                <img class="face" src="{% static 'icons/faceIcon.png' %}" alt="faceImage">
                <h4 class="plataformName">Facebook</h4>
            </a>

            <div class="instagram plataform" name="insta" onclick="instagram()">
                <img class="insta" src="{% static 'icons/instaIcon.png' %}" alt="instaImage">
                <h4 class="plataformName">Instagram</h4>
            </div>

            <div class="twitter plataform" name="twitter" onclick="twitter()">
                <img class="twitter" src="{% static 'icons/twitterIcon.png' %}" alt="twitterImage">
                <h4 class="plataformName">Twitter</h4>
            </div>

            <div class="youtube plataform" name="youtube" onclick="youtube()">
                <img class="youtube" src="{% static 'icons/youtubeIcon.png' %}" alt="youtubeImage">
                
                <h4 class="plataformName">Youtube</h4>
            </div>

        </div>
    </div>

    
    
</body>
</html>