*{
    margin: 0%;
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: auto;
    max-width: 80%;
    background-color: rgb(87, 104, 201);
    padding-bottom: 50px;
}

.titlePage{
    font-size: 63px;

    text-align: center;
    margin-top: 10%;

    color: rgb(115, 211, 255)
   
}

#Box{
    background-color: rgb(115, 211, 255);
    border-radius: 10px;
    padding: 5px;
    margin-top: 60px;
    

    text-align: center;
}

.titleBox{
    font-size: 42px;
    color: rgba(0, 0, 0, 0.685);
    margin-bottom: 15px;
}

.input1{
    width: 60%;
    border-radius: 5px;
    height: 35px;
    padding-left: 5px;
    font-size: 23px;
}

#KeyWords{
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template: auto / auto auto auto auto;
    box-sizing: border-box;

    max-height: 500px;
    overflow-y: scroll;

    font-size: 18px;

}

.wordKey{
    font-size: 1.0em;
    margin: 4px;
    background-color: rgba(240, 248, 255, 0.842);
    padding: 4px;
    align-items: center;
    border-radius: 8px;
}

.wordKey:hover{
    color: rgba(8, 0, 0, 0.596);
    cursor: pointer;
    padding: 6px;
    transition: padding 0.2s;
}

#Comments{
    margin-top: 30px;
    background-color: white;
    max-height: 400px;
    padding: 20px;
    overflow-y: scroll;
    border-radius: 10px;
    opacity: 0;

}

.comment{
    background-color: rgb(231, 236, 238);
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;

}

.comment:hover{
    padding: 20px;
    transition: padding 0.5s;
}

#NextPage{
    display: none;
}

#startPage{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.plataforms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    box-sizing: border-box;

    font-size: 22px;
}

.plataform{
    margin: 20px;
    width: 120px;
}

.BACKBUTTON{
    background-color: aqua;
    width: 120px;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    text-align: center;
    padding: auto;
    box-sizing: border-box;
    border-radius: 8px;
    top: 5px;
    left: 5px;
    height: max-content;
}

.BACKBUTTON:hover{
    color: rgba(0, 0, 0, 0.671);
    font-size: 18.5px;
    transition: font-size  0.5s, color 0.6s;
}

.nomeUsuario{
    margin-bottom: 5px;
    text-decoration: underline;
    font-size: 18px;
}

.SelectPlataform{
    font-size: 52px;
}

img{
    width: 80px;
}

img:hover{
    width: 100px;
    transition: width 0.5s, height 0.5s;
}

@keyframes moveDiagonal {
    0% {
      top: 350px;
      left: 0;
    }
    100% {
      top: 100vh; /* Move a imagem 100% da altura da viewport para baixo */
      left: 100vw; /* Move a imagem 100% da largura da viewport para a direita */
    }
}
@keyframes moveDiagonal2 {
    0% {
      top: 20px;
      right: 0;
    }
    100% {
      top: 100vh; /* Move a imagem 100% da altura da viewport para baixo */
      right: 100vw; /* Move a imagem 100% da largura da viewport para a direita */
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(100px); /* Ajuste a distância que o pato percorre */
        
      }
      65%{
        
      }
      100% {
        transform: translateX(0);
        
      }
}

.pato {
    position: absolute;

    animation: moveDiagonal 10s linear infinite;
}

.pato2 {
    position: absolute;

    animation: moveDiagonal2 10s linear infinite;
}
.pato3 {
    position: absolute;

    animation: moveHorizontal 4s linear infinite;
}

#relogio{
    position: absolute;
    display: flex;
    right: 5px;
    top: 5px;
    background: transparent;
    /* background-color: aqua; */
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#relogio div{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}